<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scau.mapper.GoodsMapper">
    <select id="getAllGoodsNum" resultType="int">
        SELECT COUNT(*) FROM goods
        <where>
            <if test="goodsName != null and goodsName != ''">
                goods_name LIKE concat('%', #{goodsName}, '%')
            </if>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
        </where>
    </select>

    <select id="getPageGoods" resultType="org.scau.pojo.Goods">
        SELECT * FROM goods
        <where>
            <if test="goodsName != null and goodsName != ''">
                goods_name LIKE concat('%', #{goodsName}, '%')
            </if>
            <if test="type != null and type != ''">
                AND type = #{type}
            </if>
        </where>
        ORDER BY datetime DESC
        LIMIT #{offset}, #{pageSize}
    </select>

    <select id="getPageGoodsByID" resultType="org.scau.pojo.Goods">
        SELECT * FROM goods
        <where>
            user_id = #{userID}
        </where>
        ORDER BY datetime DESC
        LIMIT #{offset}, #{pageSize}
    </select>
</mapper>