<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.scau.mapper.UserMapper">
    <update id="updateUser">
        UPDATE user
        <set>
                nick_name = #{nickName},
            <if test="avatar != null">
                avatar = #{avatar},
            </if>
            <if test="gender != null">
                gender = #{gender},
            </if>
            <if test="email != null">
                email = #{email},
            </if>
            <if test="phone != null">
                phone = #{phone}
            </if>
        </set>
        WHERE user_id = #{userID}
    </update>
    <select id="getUserNum" resultType="int">
        SELECT COUNT(*) FROM user
        <where>
                active = '1'
                AND user_id != #{userID}
            <if test="userName != null and userName != ''">
                AND user_name LIKE concat('%', #{userName}, '%')
            </if>
            <if test="userRole == '普通用户'">
                AND role_id = 0
            </if>
            <if test="userRole == '管理员'">
                AND role_id = 1
            </if>
        </where>
    </select>
    <select id="getAllUserInfo" resultType="org.scau.model.pojo.User">
        SELECT * FROM user
        <where>
                active = '1'
                AND user_id != #{userID}
            <if test="userName != null and userName != ''">
                AND user_name LIKE concat('%', #{userName}, '%')
            </if>
            <if test="userRole == '普通用户'">
                AND role_id = 0
            </if>
            <if test="userRole == '管理员'">
                AND role_id = 1
            </if>
        </where>
        LIMIT #{offset}, #{pageSize}
    </select>
</mapper>